/* Barra de navegação */
header, .navbar {
    background-color: #FBE83280;
}

.custom-text-color {
  color: #000; /* Cor preta (pode ser ajustada conforme necessário) */
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand { 
    padding: 0;
    color: #316131 !important; 
}


.navbar-brand:hover {
    color: #316131;
}

#a-unico{
  padding-top: 100;
}


#navbar-links a {
    color: #000000;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

#façaparte-btn{
    background-color: #7FC241;
    color: #000000;
    font-family: 'Roboto';
    width: 200px;
    text-align: center;
    
}

#façaparte-btn2{
  background-color: #7FC241;
  color: #000000;
  font-family: 'Roboto';
  width: 200px;
  text-align: center;
  padding-top: 15px;
  padding-bottom:20px;
}

/* corpo da página */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f0;
}

.container-fluid.text{
    margin-top: 120px;
}

.main-title {
    margin: 30px 0px 30px 0px;
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.main-text {
    font-size: 16px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

#agendamento.container{
    width: 80%;
    height: 80%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    background-color: #ffdc5e;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 0 0 0;
}

.form-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffdc5e;
    padding: 1rem;
}

.form-image img {
    width: 26.4rem;
    height: 38.4rem;
}

.form-image {
    padding: 0 0 0 0;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    font-family: 'Nunito', sans-serif;
}

.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    align-items: center;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input,
.input-box select {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

#nomecompleto {
    padding-right: 10rem;
}

#calendario {
    padding-right: 12.9rem;
}

#periodoselect {
    padding-right: 10.8rem;
}

.input-box input:focus-visible,
.input-box select:focus-visible {
    outline: 2px solid #000000
}

.input-box label {
    font-size: 1.12rem;
    font-weight: 700;
    color: black;
}

.confirm-button button {
    width: 100%;
    margin-top: 2rem;
    border: none;
    background-color: #7FC241;
    padding: 1rem 9.2rem;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.confirm-button button a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.confirm-button button:hover {
    text-decoration: none;
    color: black;
    background-color: #518d1d;
}

@media screen and (max-width: 992px) {
    .form-image {
        display: none;
    }

    .container {
        width: 60%;
        height: auto;
    }

    .form {
        width: 100%;
    }

    .input-group {
        flex-direction: column;
        flex-wrap: nowrap;

    }

}

@media screen and (max-width: 890px) {
    .container {
        width: 60%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        flex-wrap: nowrap;

    }
}

@media screen and (max-width: 650px) {
    .container{
        width: 80%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        flex-wrap: nowrap;

    }
}

@media screen and (max-width: 480px) {
    .container{
        width: 90%;
        font-size: 90%;
        height: auto;
    }
}

@media screen and (max-width:1441px){
    .form-image img{
        width: 100%;
    }

}

@media screen and (max-width:2561px){
    .form-image img{
        width: 100%;
    }

}

@media screen and (max-width:1025px){
    .form-image img{
        width: 26.4rem;
        height: 38.4rem;
    }

}