.bg {
  padding-bottom: 38%;
  background-image: url('../img/Doacao/bg_doacao.png');
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;

}

li {
  color: #000000;
  font-size: 14px;
}

.nunito {
  font-family: 'Nunito', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.inline {
  display: inline-block;
}


.bg_dono {
  background: linear-gradient(180deg, rgba(255, 236, 73, 0.4) 0%, rgba(255, 255, 255, 0.48) 0.01%, rgba(217, 217, 217, 0) 100%);
  border-radius: 9px;
}


.icon_text {
  text-align: left;
  font-weight: 600;
  font-size: 200%;
  line-height: 220%;
}

.sombra {
  box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  border: none;
}

.dono_button {
  display: block;
  width: 100%;
  border: transparent;
  text-decoration: none;
}

#filler_flex {
  flex: 0 0 45%;
}

#flex_content {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;

}

.dono_button:hover {
  font-weight: 600;
}

.flex_filler1 {
  flex: 0 0 35%;
}


.ferramentadica {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 9px;
  padding: 20px;
  border: 1px solid #ccc;
  min-width: 200px;
  max-width: 400px;
  white-space: pre-wrap;
}


.caixaimagemtool {
  position: relative;
  display: inline-block;
}


.caixaimagemtool:hover .ferramentadica {
  display: block;
}

form div input {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 13px;
  width: auto;

}

input.inputgrande {
  width: 52%;
}

.flexy_input {
  flex: 0 0 26%;
}

.flexy_input_filler {
  flex: 0 0 48%;
}

@media only screen and (max-width: 576px) {
  .vanish_sm {
    display: none;
  }

  .logos_parceiros {
    max-width: 85%;
  }

  .logo {
    max-width: 250%;
  }

  footer section {
    font-size: 55%
  }

  .icon_text {
    font-size: 100%;
    line-height: 320%;
  }

  .icon {
    max-width: 200%;
  }

  .bg{
    background-image: none;
    background: linear-gradient(180deg, rgba(250, 255, 0, 0) 31.41%, rgba(254, 242, 242, 0.2) 61.83%), #FFE732;
    border-radius: 9px;
    width: 100%
  }

  #filler_flex {
    flex: 0 0 5%;
  }

  #flex_content {
    flex: 0 0 90%
  }

  .flex_filler1 {
    flex: 0 0 25%;
  }

  .ferramentadica {
    right: 50%;
  }

  input.inputpequeno {
    font-size: 110%;
    width: 35%;
  }

  input.inputgrande {
    font-size: 110%;
    width: 75%;
  }

  .flexy_input {
    flex: 0 0 37.5%;
  }

  .flexy_input_filler {
    flex: 0 0 25%;
  }
}

/* Barra de navegação */
header, .navbar {
  background-color: #FBE83280;
}

.custom-text-color {
color: #000; /* Cor preta (pode ser ajustada conforme necessário) */
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
}

.navbar-brand {
  padding: 0;
  color: #316131;
}


.navbar-brand:hover {
  color: #316131;
}

#a-unico{
padding-top: 100;
}


#navbar-links a {
  color: #000000;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

#façaparte-btn{
  background-color: #7FC241;
  color: #000000;
  font-family: 'Roboto';
  width: 200px;
  text-align: center;
  
}

#façaparte-btn2{
background-color: #7FC241;
color: #000000;
font-family: 'Roboto';
width: 200px;
text-align: center;
padding-top: 15px;
padding-bottom:20px;
}

body header {
  font-family: 'Roboto', 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
